# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# large files
predictor_layers/
ebird/
predictor_stack.tif
validation data/bbs/2024Release_Nor/50-StopData/Fifty1.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty10.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty2.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty3.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty4.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty5.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty6.csv
validation data/bbs/2024Release_Nor/50-StopData/fifty7.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty8.csv
validation data/bbs/2024Release_Nor/50-StopData/Fifty9.csv
